.login-box{
  width: 33%;
  background-color: white;
  height: 500px;
  margin: 0 auto;
  position: relative;
  top: 80px;
  padding: 20px;
  border-radius: 30px;
}

.login-container{
  position: relative;
}

.login-title{
  font-weight: 100;
}