.multiplierValue{
  font-size: 20px;
  text-align: center;
  color: blueviolet;
}

.timeout{
  font-size: 30px;
  text-align: center;
  color: blueviolet;
}

.rocket{
  width: 200px;
  position: absolute;
  transform: rotate(78deg);
  top:20px;
  left:41%;
}
